{% extends 'base.html.twig' %}

{% block title %}New Repertoire{% endblock %}

{% block content %}
    <h1>Create new Repertoire</h1>

    {{ include('repertoire/_form.html.twig') }}

    <a href="{{ path('app_repertoire_index') }}">back to list</a>
{% endblock %}
